*{
    text-align: justify;
}
html{
    scroll-behavior: smooth;
}
/*ENCABEZADO*/
.d-flex{
    padding-right: 10px;
}
#intranet{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    height: 50px;
    background-color: rgb(0, 5, 100);
    color: white;
}
#logo{
    background-color: rgb(255, 12, 12);
    color: white;
}
#pages li a{
    color: white;
}
#materials li a{
    color: black;
}

/*CARRUSEL*/
.carousel-inner{
    font-weight: bold;
}
.carousel-item{
    height: 32rem;
    background: #777;
    color: white;
    position: relative; 
    background-position: center;
    background-size: cover; 
}
.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
.slide img{
    height: 30vh;
}

#servicios{
    padding-top: 10px;
}
h1{
    text-align: center;
}
#video{
    display: flex;
    justify-content: center;
}
/*css SERVICIOS*/
.dad,.mom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.mom img{
    padding-left: 70px;
}
.mom h2,.mom p{
    padding-left: 10px;
    
}

/*css de mision y vision*/
.mv img{
    width:500px;
    height:100%;
}
.mv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;

}
.billie{
    background-color: rgb(0, 5, 100);
    text-align: center;
    text-align-last: center;
    padding: 20px;
    padding-top: 5cm;
    width:500px;
    height:14cm;

}
.lol{
    text-decoration-line: underline;
    text-decoration-color: white; 
}
@media (max-width:525px) {
    .billie{
        width:100%;
        padding: 40px;
        letter-spacing: 1px;
        padding-top: 2.5cm;
    }
    .billie p{
        text-align-last: center;


    }
    .mv img{
        width:100%;

    }
}
.mv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1cm;

}
.dua{
    background-color: rgb(255, 12, 12);
    text-align: center;
    text-align-last: center;
    padding: 20px;
    padding-top: 5cm;
    width:500px;
    height:14cm;

}
.lmao{
    text-decoration-line: underline;
    text-decoration-color: white; 
}
@media (max-width:525px) {
    .dua{
        width:100%;
        padding: 40px;
        letter-spacing: 1px;
        padding-top: 2.5cm;
    }
    .dua p{
        text-align-last: center;


    }
    .mv img{
        width:100%;

    }
}


/*css de noticias*/
#noticias{
    padding: 10px;
}
.nl{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.nl img{
    width: 400px;
    height: 400px;
}
.bnews{
    display: flex;
    justify-content: center;
    padding: 15px;
}

/*css del boton de wasap*/
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}
.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}
/*CSS del formulario*/
#btne{
    display: flex;
    justify-content: center;
}
.formul{
    color:white ;
    padding: 25px;
    font-weight: bold;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/*css del footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.containerf{
	max-width: 1170px;
	margin:auto;
}
.rowf{
	display: flex;
	flex-wrap: wrap;
}
.social-links{
    padding-left: 35px;
    padding-bottom: 35px;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
/*.fr{
    display: flex;
    flex-direction: row;
    justify-content: center;
}*/

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
    
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}























